/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */

/*
You can add your own CSS here.

Click the help icon above to learn more.
*/

/* -------------- */
/* Home page			*/
/* -------------- */
/* Set background color */
.site {
  background-color: #fff !important;
}

/* 3-column row for products */
.tg-column-wrapper {
  column-gap: 10px;
  row-gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, fit-content(30%));
  justify-content: center;
}

/* set product cell attr */
.tg-feature-product-widget {
  left: 0 !important;
  position: relative !important;
  top: 0 !important;
  width: auto !important;
}

/* set font size for product title/price  */
.feature-title-wrap,
.feature-price-wrap {
  font-size: 16px !important;
}

/* enable scrolling for product desc  */
.featured-image-desc {
  overflow-y: auto;
}

/* reset padding of widget row */
.panel-row-style {
  padding: 0 !important;
}

/* Align left cart item in cart widget */
.woocommerce.widget_shopping_cart .cart_list li {
  text-align: left;
}

/* Add top padding to clients widget */
#clients {
  padding-top: 40px !important;
}

/* -------------- */
/* Cart page			*/
/* -------------- */
/* Correct table row alignment */
.woocommerce table.shop_table_responsive tr td,
.woocommerce-page table.shop_table_responsive tr td {
  height: 40px;
}

/* -------------- */
/* Responsive CSS */
/* -------------- */
@media only screen and (max-width: 480px) {
  /* 2-column row for products */
  .tg-column-wrapper {
    grid-template-columns: repeat(2, auto);
  }
}

/* 2-column row for product info */
@media only screen and (max-width: 600px) {
  #services .panel-row-style {
    flex-wrap: wrap;
  }

  #services .panel-grid-cell {
    flex: 0 50%;
  }
}

@media only screen and (max-width: 768px) {
  /* maintain product info in a row */
  #services .panel-row-style {
    flex-direction: row !important;
  }

  /* color row header cell in cart page */
  td.product-remove {
    background-color: #ccc !important;
  }

  /* hide shipping address in cart page */
  .woocommerce-shipping-destination {
    display: none;
  }

  /* Add top padding to the cart totals header in cart page */
  .cart-collaterals {
    padding-top: 40px;
  }

  /* Increase cell height in cart page */
  .woocommerce-cart-form .actions {
    height: 55px !important;
  }

  /* Add top margin to update cart button in cart page */
  button[name="update_cart"] {
    margin-top: 10px !important;
  }
}
